<li>
	<div class="post-thumb">
		<a href="blog-details.html">
			<img class="img-fluid" src="~/assets/img/blog/blog-thumb-01.jpg" alt="blog-image">
		</a>
	</div>
	<div class="post-info">
		<h4>
			<a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
		</h4>
		<p>4 Dec 2023</p>
	</div>
</li>