@using static VitalCareWeb.Data.ModelConstants;
<header class="header header-custom header-fixed header-one bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span style="background-color:#06A5A0 !important"></span>
                        <span style="background-color:#06A5A0 !important"></span>
                        <span style="background-color:#06A5A0 !important"></span>
                    </span>
                </a>
                <a href="/Home/index" class="navbar-brand logo">
                    <img src="~/assets/img/VitalcareLogo.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper bg-white">
                <div class="menu-header">
                    <ul class="nav text-lg gap-3">
                        <partial name="_SocialMediaLinks" />
                    </ul>                   
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li id="IndexNavId">
                        <a asp-controller="Home" asp-action="Index" style="font-size:16px;font-weight:500;">Home</a>
                    </li>
                    <li id="AboutUsNavId">
                        <a asp-controller="Home" asp-action="AboutUs" style="font-size:16px;font-weight:500;">About Us</a>
                    </li>
                    <li id="ServicesNavId">
                        <a asp-controller="Home" asp-action="Services" style="font-size:16px;font-weight:500;">Services</a>
                    </li>
                    <li id="DoctorsNavId">
                        <a asp-controller="Home" asp-action="Doctors" style="font-size:16px;font-weight:500;">Doctors</a>
                    </li>
                    <li id="ArticlesNavId">
                        <a asp-controller="Home" asp-action="Articles" style="font-size:16px;font-weight:500;">Articles</a>
                    </li>
                    <li id="ContactNavId">
                        <a asp-controller="Home" asp-action="ContactUs" style="font-size:16px;font-weight:500;">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="header-navbar-rht">
                <ul class="nav text-lg">
                    <partial name="_SocialMediaLinks" />
                </ul>
            </div>
        </nav>
    </div>
</header>