<header class="header header-fixed header-fourteen header-twelve">
    <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="index.html" class="navbar-brand logo">
                    <img src="~/assets/img/VitalDentalLogo.png" class="img-fluid" alt="Logo">
                </a>
            </div>
           @* <ul class="nav header-navbar gap-3 text-lg">
                <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>*@
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="~/assets/img/VitalDentalLogo.png" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li id="IndexNavId">
                        <a asp-controller="Home" asp-action="Index" style="font-size:16px;font-weight:500">Home</a>
                    </li>
                    <li id="AboutUsNavId">
                        <a asp-controller="Home" asp-action="AboutUs" style="font-size:16px;font-weight:500">About Us</a>
                    </li>
                    <li id="ServicesNavId">
                        <a asp-controller="Home" asp-action="Services" style="font-size:16px;font-weight:500">Services</a>
                    </li>
                    <li id="DoctorsNavId">
                        <a asp-controller="Home" asp-action="Doctors" style="font-size:16px;font-weight:500">Doctors</a>
                    </li>
                    <li id="GalleryNavId">
                        <a asp-controller="Home" asp-action="Gallery" style="font-size:16px;font-weight:500">Gallery</a>
                    </li>
                    <li id="ContactNavId">
                        <a asp-controller="Home" asp-action="Contact" style="font-size:16px;font-weight:500">Contact</a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht align-items-center">
                <li class="searchbar searchbar-fourteen me-2">
                    <a href="javascript:void(0);"><i class="feather-search"></i></a>
                   @* <div class="togglesearch">
                        <form action="search-2.html">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>  *@                    
                </li> 
                <span>Search</span>
            </ul>
            <ul class="nav header-navbar-rht text-lg">
                <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>

        </nav>
    </div>
</header>