@using static VitalCareWeb.Data.ModelConstants;

<li>
    <a href="@SocialMediaUrls.FacebookUrl" target="_blank"><i class="fab fa-facebook"></i> </a>
</li>
<li>
    <a href="@SocialMediaUrls.InstagramUrl" target="_blank"><i class="fab fa-instagram"></i></a>
</li>
<li>
    <a href="@SocialMediaUrls.TwitterUrl" target="_blank"><i class="fab fa-twitter"></i> </a>
</li>
<li>
    <a href="@SocialMediaUrls.TiktokUrl" target="_blank"><i class="fab fa-tiktok"></i></a>
</li>