<div class="row" style="margin-top:60px;">
    <h2 class="text-center mb-4">We cover a wide range of insurances for our services</h2>

    <div class="row d-flex justify-content-center" style="margin-top:30px;">
        <div class="col-md-1"></div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="d-flex justify-content-center m-4">
                <img style="height:120px;width:120px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-1.jpeg" alt="Andrea" class="img-fluid">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="d-flex justify-content-center m-4">
                <img style="height:120px;width:120px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-3.jpeg" alt="Andrea" class="img-fluid">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="d-flex justify-content-center mt-4">
                <img style="height:120px;width:120px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-4.jpeg" alt="Andrea" class="img-fluid">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="d-flex justify-content-center mt-4">
                <img style="height:120px;width:120px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-5.jpeg" alt="Andrea" class="img-fluid">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="d-flex justify-content-center mt-4">
                <img style="height:120px;width:120px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-2.jpeg" alt="Andrea" class="img-fluid">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>