@{
    ViewData["Title"] = "Articles";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<h2 class="breadcrumb-title">Articles</h2>
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
						<li class="breadcrumb-item" aria-current="page">Articles</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->


<!-- Page Content -->
<div class="content">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 col-md-12">

				<div class="row blog-grid-row">
					@for(int i = 0; i < 6; i++)
					{
						<partial name="/Views/Shared/Articles/_ArticleCard.cshtml" />
					}																																								
				</div>

				<!-- Blog Pagination -->
				<div class="row">
					<div class="col-md-12">
						<div class="blog-pagination">
							<nav>
								<ul class="pagination justify-content-center">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<!-- /Blog Pagination -->

			</div>

			<!-- Article Sidebar -->
			<partial name="/Views/Shared/Articles/_ArticleSlider.cshtml" />
			<!-- /Article Sidebar -->

		</div>
	</div>
</div>
<!-- /Page Content -->

<style>

	#IndexNavId a {
		color: #4D555F !important;
	}

	#AboutUsNavId a {
		color: #4D555F !important;
	}

	#ServicesNavId a {
		color: #4D555F !important;
	}

	#DoctorsNavId a {
		color: #4D555F !important;
	}

	#ArticlesNavId a {
		color: #06A5A0 !important;
		text-decoration: underline;
		text-underline-offset: 8px;
	}

	#ContactNavId a {
		color: #4D555F !important;
	}

</style>

@section Scripts{
    <script>


    </script>
}