@{
    ViewData["Title"] = "Male' Maldives'";
}

<!-- Home Banner -->
<section class="banner-section d-flex align-items-center" style="height:90vh">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content aos" data-aos="fade-up">
                    <h1 class="mt-md-5">Consult <span style="color:#06A5A0 !important">Best Doctors</span> Your Nearby Location.</h1>
                    <p>Feel free to contact us, get better service.</p>
                    <a asp-controller="Home" asp-action="ContactUs" style="background-color: #06A5A0;border-color:#06A5A0 !important;" class="btn specialHomeBtn">Contact Us</a>
                </div>
                <div class="search-box-one aos" data-aos="fade-up">
                    <form action="search-2.html">
                        <div class="search-input search-line">
                            <i class="feather-search bficon"></i>
                            <div class=" mb-0">
                                <input type="text" class="form-control" placeholder="Search doctor">
                            </div>
                        </div>
                        <div class="search-input search-map-line">
                            <i class="feather-map-pin"></i>
                            <div class=" mb-0">
                                <input type="text" class="form-control" placeholder="Location">
                                <a class="current-loc-icon current_location" href="javascript:void(0);">
                                    <i class="feather-crosshair"></i>
                                </a>
                            </div>
                        </div>
                        <div class="search-input search-calendar-line">
                            <i class="feather-calendar"></i>
                            <div class=" mb-0">
                                <input type="text" class="form-control datetimepicker" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-search-btn">
                            <button class="btn specialHomeBtn" type="submit" style="background-color: #06A5A0;border-color:#06A5A0 !important;">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-img aos" data-aos="fade-up">
                    <img src="~/assets/img/DocImage-1.png" class="img-fluid" alt="patient-image" style="margin-top:50px;padding-left:100px;">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->
<!-- About Us -->
<section class="section section-specialities">
    <div class="container-fluid">
        <div class="section-header text-center aos" data-aos="fade-up">
            <div class="section-header-fourteen">
                <h2>About Us</h2>
                <p class="px-lg-5">
                    VitalCare is a multispecialty medical company that integrates medical specialties,
                    comprehensive dental care, diagnostic laboratories and pharmaceuticals.
                    Our story begins from October of 2011. Back then we were a clinic with a single dental unit in the capital city of Male’.
                    Vitalcare was established by doctors with a dream of advancing quality healthcare, and to help ensure that people’s health is protected
                </p>
            </div>

        </div>

        <div class="row">
            <ul class="nav nav-pills gap-2  d-flex justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-tab1-tab" data-bs-toggle="pill" data-bs-target="#pills-tab1" role="tab" aria-controls="pills-tab1" aria-selected="true">Vision</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tab2-tab" data-bs-toggle="pill" data-bs-target="#pills-tab2" role="tab" aria-controls="pills-tab2" aria-selected="false">Mission</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tab3-tab" data-bs-toggle="pill" data-bs-target="#pills-tab3" role="tab" aria-controls="pills-tab3" aria-selected="false">Values</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tab1" role="tabpanel" aria-labelledby="pills-tab1-tab" tabindex="0">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="card contact-card" style="border: 1px solid #06A5A0;">
                                <div class="card-body">
                                    <div class="contact-details">
                                        <h4>Vision</h4>
                                        <p>
                                            VitalCare will be recognized as a preeminent healthcare company that 
                                            strives to provide outstanding patient experience, superior clinical 
                                            outcomes, and an improved quality of life for the people it serves.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-tab2" role="tabpanel" aria-labelledby="pills-tab2-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="card contact-card" style="border: 1px solid #06A5A0;">
                                    <div class="card-body">
                                        <div class="contact-details">
                                            <h4>Mission</h4>
                                            <p>
                                                The mission of VitalCare is to provide compassionate, 
                                                patient centered care of the highest quality.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>      
                <div class="tab-pane fade" id="pills-tab3" role="tabpanel" aria-labelledby="pills-tab3-tab" tabindex="0">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="card contact-card" style="border: 1px solid #06A5A0;">
                                <div class="card-body">
                                    <div class="contact-details">
                                        <h4>Values</h4>
                                        <p>
                                            “Patients First” is our reason for being and the focus of all our activities. 
                                            Our responsibility is to provide the best possible care and outcome for every
                                            patient. We strive to exceed our patient expectations for comfort and convenience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>      
            </div>
        </div>

        <div class="row">
            <div class="banner-content aos d-flex justify-content-center" data-aos="fade-up" style="margin-top:20px;padding-bottom:0px !important">
                <a asp-controller="Home" asp-action="AboutUs" style="background-color: #06A5A0;border-color:#06A5A0 !important;" class="btn specialHomeBtn">Read More</a>
            </div>
        </div>

    </div>
</section>
<!-- /About Us -->

<!-- Doctors Section -->
<section class="doctors-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-titl">Best Doctors</h2>
                </div>
            </div>
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-2 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel doctor-slider-one owl-theme aos mt-3 mt-md-0" data-aos="fade-up">

            <!-- Doctor Item -->
            <div class="item px-5 px-sm-2">
                <div class="doctor-profile-widget">
                    <div class="doc-pro-img">
                        <a href="#">
                            <div class="doctor-profile-img">
                                <img src="assets/img/doctors/Doctor-1.png" class="img-fluid" alt="Ruby Perrin">
                            </div>
                        </a>
                    </div>
                    <div class="doc-content">
                        <div class="doc-pro-info">
                            <div class="doc-pro-name">
                                <a href="#">Dr. Ruby Perrin</a>
                                <p>Cardiology</p>
                            </div>
                        </div>
                        <div class="doc-pro-location">
                            <p><i class="feather-map-pin"></i> Newyork, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Item -->
            <!-- Doctor Item -->
            <div class="item px-5 px-sm-2">
                <div class="doctor-profile-widget">
                    <div class="doc-pro-img">
                        <a href="#">
                            <div class="doctor-profile-img">
                                <img src="assets/img/doctors/Doctor-2.png" class="img-fluid" alt="Ruby Perrin">
                            </div>
                        </a>
                    </div>
                    <div class="doc-content">
                        <div class="doc-pro-info">
                            <div class="doc-pro-name">
                                <a href="#">Dr. Ruby Perrin</a>
                                <p>Cardiology</p>
                            </div>
                        </div>
                        <div class="doc-pro-location">
                            <p><i class="feather-map-pin"></i> Newyork, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Item -->
            <!-- Doctor Item -->
            <div class="item px-5 px-sm-2">
                <div class="doctor-profile-widget">
                    <div class="doc-pro-img">
                        <a href="#">
                            <div class="doctor-profile-img">
                                <img src="assets/img/doctors/Doctor-3.png" class="img-fluid" alt="Ruby Perrin">
                            </div>
                        </a>
                    </div>
                    <div class="doc-content">
                        <div class="doc-pro-info">
                            <div class="doc-pro-name">
                                <a href="#">Dr. Ruby Perrin</a>
                                <p>Cardiology</p>
                            </div>
                        </div>
                        <div class="doc-pro-location">
                            <p><i class="feather-map-pin"></i> Newyork, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Item -->
            <!-- Doctor Item -->
            <div class="item px-5 px-sm-2">
                <div class="doctor-profile-widget">
                    <div class="doc-pro-img">
                        <a href="#">
                            <div class="doctor-profile-img">
                                <img src="assets/img/doctors/Doctor-4.png" class="img-fluid" alt="Ruby Perrin">
                            </div>
                        </a>
                    </div>
                    <div class="doc-content">
                        <div class="doc-pro-info">
                            <div class="doc-pro-name">
                                <a href="#">Dr. Ruby Perrin</a>
                                <p>Cardiology</p>
                            </div>
                        </div>
                        <div class="doc-pro-location">
                            <p><i class="feather-map-pin"></i> Newyork, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Item -->

        </div>

        <div class="row mt-4">
            <div class="banner-content aos d-flex justify-content-center" data-aos="fade-up" style="margin-top:20px;padding-bottom:0px !important">
                <a asp-controller="Home" asp-action="Doctors" style="background-color: #06A5A0;border-color:#06A5A0 !important;" class="btn specialHomeBtn">View More</a>
            </div>
        </div>
    </div>
</section>
<!-- /Doctors Section -->
<!-- services Section -->
<section class="services-section-fourteen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 aos" data-aos="fade-up">
                <div class="section-header-fourteen">
                    <h2>Our Services</h2>
                    <p>Our Professional Services</p>
                </div>
            </div>
        </div>
        <div class="row row-gap justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <div class="our-services-list w-100 serviceCard">
                    <div class="service-icon">
                        <img src="assets/img/icons/injection.svg" alt="injection-icon">
                    </div>
                    <h4>ENT Specialist Service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <div class="our-services-list w-100 serviceCard">
                    <div class="service-icon">
                        <img src="assets/img/icons/bottel.svg" alt="bottel-icon">
                    </div>
                    <h4>Gum Disease</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <div class="our-services-list w-100 serviceCard">
                    <div class="service-icon">
                        <img src="assets/img/icons/pet-doctor.svg" alt="stethoscope-icon">
                    </div>
                    <h4>Dental Hygiene</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <div class="our-services-list w-100 serviceCard">
                    <div class="service-icon">
                        <img src="assets/img/icons/pet-doctor.svg" alt="stethoscope-icon">
                    </div>
                    <h4>Pediatric Dentistry</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <div class="our-services-list w-100 serviceCard">
                    <div class="service-icon">
                        <img src="assets/img/icons/pet-doctor.svg" alt="stethoscope-icon">
                    </div>
                    <h4>Dental Implants</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <div class="our-services-list w-100 serviceCard">
                    <div class="service-icon">
                        <img src="assets/img/icons/pet-doctor.svg" alt="stethoscope-icon">
                    </div>
                    <h4>Teeth Whitening</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /services Section -->
<!-- Insurance Section -->
<section class="eyeclinics-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 aos" data-aos="fade-up">
                <div class="section-header-fourteen">
                    <h2>We cover a wide range of insurances for our services</h2>
                    <p>Your short paragraph here</p>
                </div>
            </div>
        </div>
        <div class="owl-carousel eye-clinic owl-them aos" data-aos="fade-up">
            <div class="item align-items-center d-flex justify-content-center">
                <div class="our-doctors-card eye-doc">
                    <div class="doctors-header">
                        <a href="#">
                            <img style="max-height:200px;max-width:200px;margin-top:20px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-1.jpeg" alt="Andrea" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card eye-doc d-flex justify-content-center">
                    <div class="doctors-header">
                        <a href="#">
                            <img style="max-height:200px;max-width:200px;margin-top:20px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-3.jpeg" alt="Andrea" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card eye-doc d-flex justify-content-center">
                    <div class="doctors-header">
                        <a href="#">
                            @*<img style="max-height:300px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-4.jpeg" alt="Andrea" class="img-fluid">*@
                            <img style="max-height:200px;max-width:200px;margin-top:20px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-4.jpeg" alt="Andrea" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card eye-doc d-flex justify-content-center">
                    <div class="doctors-header">
                        <a href="#">
                            <img style="max-height:200px;max-width:200px;margin-top:20px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-5.jpeg" alt="Andrea" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card eye-doc d-flex justify-content-center">
                    <div class="doctors-header">
                        <a href="#">
                            <img style="max-height:200px;max-width:200px;margin-top:20px;" src="~/assets/img/InsuranceCompanies/InsuranceCompany-2.jpeg" alt="Andrea" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ban-bg">
        <img src="assets/img/bg/clinic-bg-01.png" alt="design-image" class="img-fluid bg-08">
    </div>
</section>
<!-- /Insurance Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="testimonial-slider slick">
                    <div class="testimonial-grid divHeight">
                        <div class="testimonial-info">
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h2 class="text-center">What Our Customers Says</h2>
                                </div>
                                <div class="testimonial-details mx-2 mx-sm-5">
                                    <p class="text-center">
                                        “This Clinic is always known to be the best dental clinic in town.
                                        They have dentist with great clinical experties and dedicated staff with excellent customer care.
                                        Always a pleasure to book regular check up appointments here. Keep it up.”
                                    </p>
                                    <h6 class="text-center"><span>Ahmed Razzaq</span> <i>( Happy Customer )</i></h6>
                                    <div class="rating mt-2 text-center">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star "></i>
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-grid divHeight">
                        <div class="testimonial-info">
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h2 class="text-center">What Our Customers Says</h2>
                                </div>
                                <div class="testimonial-details mx-2 mx-sm-5">
                                    <p class="text-center">
                                        “if you are looking for the best dental clinic in Maldives, this is definitely
                                        the number one dental i would recommend. Their team of doctors are most established
                                        and longest in service in Maldives, and their staff are the most dedicated.
                                        The services in vitalcare dental are nothing comparable, their prices are a relief and
                                        last but most exciting their interior has got every corner for a selfie”
                                    </p>
                                    <h6 class="text-center"><span>Dhaina Saeed</span> <i>( Happy Customer )</i></h6>
                                    <div class="rating mt-2 text-center">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star "></i>
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-grid divHeight">
                        <div class="testimonial-info">
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h2 class="text-center">What Our Customers Says</h2>
                                </div>
                                <div class="testimonial-details mx-2 mx-sm-5">
                                    <p class="text-center">
                                        “An excellent clinic with a wonderful and warm experience from the start to finish.
                                        The staff are very friendly and the customer care in this clinic is very good.
                                        I especially loved how the staff and the doctors took their time to explain my conditions
                                        with me as well as my treatment options. I had a great time and the doctors demeanor has really put me in ease so,
                                        i highly recommend this clinic and the doctors are very experienced and i will definitely consult here again”
                                    </p>
                                    <h6 class="text-center"><span>Shua Abdulla</span> <i>( Happy Customer )</i></h6>
                                    <div class="rating mt-2 text-center">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Testimonial Section -->
<!-- Articles Section -->
<section class="section section-blogs">
    <div class="container-fluid">

        <!-- Section Header -->
        <div class="section-header text-center aos" data-aos="fade-up">
            <h2>Articles</h2>
            <p class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <!-- /Section Header -->

        <div class="row blog-grid-row">
            <div class="col-md-6 col-lg-3 col-sm-12 aos" data-aos="fade-up">

                <!-- Blog Post -->
                <div class="blog grid-blog">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/img/blog/blog-01.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul class="entry-meta meta-item">
                            <li>
                                <div class="post-author">
                                    <a href="#">
                                        <span>Dr. Ruby Perrin</span>
                                    </a>
                                </div>
                            </li>
                            <li><i class="far fa-clock"></i> 4 Dec 2023</li>
                        </ul>
                        <h3 class="blog-title">
                            <a href="#">
                                Doccure – Making your clinic painless
                                visit?
                            </a>
                        </h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
                            eiusmod tempor.
                        </p>
                    </div>
                </div>
                <!-- /Blog Post -->

            </div>

            <div class="col-md-6 col-lg-3 col-sm-12 aos" data-aos="fade-up">

                <!-- Blog Post -->
                <div class="blog grid-blog">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/img/blog/blog-02.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul class="entry-meta meta-item">
                            <li>
                                <div class="post-author">
                                    <a href="#">
                                        <span>Dr. Darren Elder</span>
                                    </a>
                                </div>
                            </li>
                            <li><i class="far fa-clock"></i> 3 Dec 2023</li>
                        </ul>
                        <h3 class="blog-title">
                            <a href="#">
                                What are the benefits of Online
                                Doctor Booking?
                            </a>
                        </h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
                            eiusmod tempor.
                        </p>
                    </div>
                </div>
                <!-- /Blog Post -->

            </div>

            <div class="col-md-6 col-lg-3 col-sm-12 aos" data-aos="fade-up">

                <!-- Blog Post -->
                <div class="blog grid-blog">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/img/blog/blog-03.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul class="entry-meta meta-item">
                            <li>
                                <div class="post-author">
                                    <a href="#">
                                        <span>Dr. Deborah Angel</span>
                                    </a>
                                </div>
                            </li>
                            <li><i class="far fa-clock"></i> 3 Dec 2023</li>
                        </ul>
                        <h3 class="blog-title">
                            <a href="#">
                                Benefits of consulting with an Online
                                Doctor
                            </a>
                        </h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
                            eiusmod tempor.
                        </p>
                    </div>
                </div>
                <!-- /Blog Post -->

            </div>

            <div class="col-md-6 col-lg-3 col-sm-12 aos" data-aos="fade-up">

                <!-- Blog Post -->
                <div class="blog grid-blog">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/img/blog/blog-04.jpg" alt="Post Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul class="entry-meta meta-item">
                            <li>
                                <div class="post-author">
                                    <a href="#">
                                        <span>Dr. Sofia Brient</span>
                                    </a>
                                </div>
                            </li>
                            <li><i class="far fa-clock"></i> 2 Dec 2023</li>
                        </ul>
                        <h3 class="blog-title">
                            <a href="#">
                                5 Great reasons to use an Online
                                Doctor
                            </a>
                        </h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
                            eiusmod tempor.
                        </p>
                    </div>
                </div>
                <!-- /Blog Post -->

            </div>
        </div>
        <div class="view-all text-center aos" data-aos="fade-up">
            <a href="/Home/Articles" class="btn btn-primary specialHomeBtn">View All</a>
        </div>
    </div>
</section>
<!-- /Blog Section -->


<style>

    @@media (min-width:320px) {
        .divHeight {
            margin-top: 120px;
        }
    }

    @@media (min-width:480px) {
        .divHeight {
            margin-top: 100px;
        }
    }

    @@media (min-width:600px) {
        .divHeight {
            margin-top: 0px;
        }
    }

    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        background-color: #06A5A0 !important;
        border-color: #06A5A0 !important;
    }

    .owl-prev:hover, .owl-prev:focus, .owl-next:hover {
        background-color: #06A5A0 !important;
        border-color: #06A5A0 !important;
    }

    .specialHomeBtn {
        background-color: #06A5A0;
        border-color: #06A5A0 !important;
    }

    .specialHomeBtn:hover {
        color: #06A5A0 !important;
        background-color: white !important;
        border-color: #06A5A0 !important
    }

    .service-icon {
        background-color: #06A5A0 !important;
    }

    .serviceCard:hover {
        background-color: #06A5A0 !important;
        border-color: #06A5A0 !important;
    }

    .serviceCard:hover .service-icon {
        background-color: white !important;
    }

    .nav-pills > li > button {
        color: #4D555F !important;
        border: 1px solid #06A5A0;
    }

    .nav-pills > li > button.active {
        background-color: #06A5A0 !important;
        color: white !important;
    }

</style>

<style>

    #IndexNavId a {
        color: #06A5A0 !important;
        text-decoration: underline;
        text-underline-offset: 8px;
    }

    #AboutUsNavId a {
        color: #4D555F !important;
    }

    #ServicesNavId a {
        color: #4D555F !important;
    }

    #DoctorsNavId a {
        color: #4D555F !important;
    }

    #ArticlesNavId a {
        color: #4D555F !important;
    }

    #ContactNavId a {
        color: #4D555F !important;
    }

</style>

@section Scripts{
    <script>



    </script>
}