@{
	ViewData["Title"] = "Male' Maldives'";
}


<section class="banner-section-fourteen banner-section-twelve bg-white">
	<div class="container">
		<h2>Index</h2>
	</div>
</section>



<!-- Home Banner -->
@*<section class="banner-section-fourteen banner-section-twelve">
	<div class="banner-section-twelve-bg">
		<img src="~/assets/img/bg/home-12-banner-bg-1.png" alt="design-image">
		<img src="~/assets/img/bg/home-12-banner-bg-2.png" alt="design-image">
	</div>
	<div class="container">
		<div class="row">

			<div class="col-lg-6">
				<div class="banner-img banner-img-twelve aos" data-aos="fade-up">
					<img src="~/assets/img/bg/home-12-banner-1.png" class="img-fluid" alt="dog-image">
					<img src="~/assets/img/bg/home-12-banner-2.png" class="img-fluid" alt="cat-image">
					<div class="banner-banner-img-twelve-bg">
						<img src="~/assets/img/bg/dot-1.png" alt="dot-icon">
						<img src="~/assets/img/bg/dot-2.png" alt="dot-icon">
						<img src="~/assets/img/bg/ring-1.png" alt="ring-icon">
						<img src="~/assets/img/bg/ring-2.png" alt="ring-icon">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="banner-content banner-content-fourteen aos" data-aos="fade-up">
					<h1>We take care <span>of Your Pets</span></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
					<div class="banner-btns-fourteen ">
						<a href="booking.html" class="btn btn-primary me-2">Start a Consult</a>
						<a href="booking.html" class="btn btn-primary ">Schedule a Call</a>
					</div>
				</div>
				<div class="search-box-fourteen aos" data-aos="fade-up">
					<form action="search.html" class="form-block d-flex">
						<div class="search-input">
							<div class="forms-block">
								<label class="mb-0">Date</label>
								<input type="text" class="form-control datetimepicker" placeholder="Thu, Mar 24, 2023">
							</div>
						</div>
						<div class="search-input">
							<div class="forms-block mb-0">
								<label class="location-icon">Location</label>
								<input type="text" class="form-control" placeholder="San Diego Branch">
							</div>
						</div>
						<div class="search-btn">
							<button class="btn btn-primary" type="submit">Book Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>*@
<!-- /Home Banner -->

<style>

	#IndexNavId a {
		color: #06A5A0 !important;
		text-decoration: underline;
		text-underline-offset: 8px;
	}

	#AboutUsNavId a {
		color: #4D555F !important;
	}

	#ServicesNavId a {
		color: #4D555F !important;
	}

	#DoctorsNavId a {
		color: #4D555F !important;
	}

	#ArticlesNavId a {
		color: #4D555F !important;
	}

	#ContactNavId a {
		color: #4D555F !important;
	}

</style>

@section Scripts{
	<script>



	</script>
}