@{
    Layout = "_Layout";
    ViewBag.Title = "Inquiry";
} 

<section class="" style="margin-top:170px;margin-bottom:100px;">
    <div class="container">
        <div class="row">
            <h3 class="text-center text-danger">Failed to make an inquiry !!!</h3>
            <h5 class="text-center">Contact us to make an inquiry ( Contact No : 9603321315 ) </h5>
            <div class="d-flex justify-content-center mt-4">
                <a asp-controller="Home" asp-action="ContactUs" style="background-color: #06A5A0;border-color:#06A5A0 !important;max-width:200px;" class="btn specialHomeBtn">
                    <span style="margin-right:5px;">Try again</span> <i class="fa fa-arrow-right"></i>
                </a>
            </div>            
        </div>
    </div>
</section>

<style>

    .specialHomeBtn {
        color:white;
        background-color: #06A5A0;
        border-color: #06A5A0 !important;
    }

    .specialHomeBtn:hover {
        color: #06A5A0 !important;
        background-color: white !important;
        border-color: #06A5A0 !important
    }

</style>