@using VitalCareWeb.ViewModels.Service;
@model IEnumerable<ServiceViewModel>;

@{
    ViewData["Title"] = "Services";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Services</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->


<!-- services Section -->
<section class="services-section-fourteen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 aos" data-aos="fade-up">
                <div class="section-header-fourteen">
                    <h2 style="color: #06A5A0 !important;">Our Services</h2>
                    <p>Our services are vast and include dental consultation and screening treatment of 
                    common dental conditions and oral emergencies, smile transformation and other orthodental 
                    procedures, dental related services including ENT consultations and services.</p>
                </div>
            </div>
        </div>
        <div class="row row-gap justify-content-center">
            @foreach(var service in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                    <a asp-route-id="@service.Id" asp-action="Service" asp-controller="Home">
                        <div class="our-services-list w-100 serviceCard">
                        <div class="service-icons">
                            <img src="@service.ImageUrl" style="height:220px;width:220px;" alt="injection-icon">
                        </div>
                        <h4>@service.Name</h4>
                        <p>@service.ShortDescription</p>
                    </div>
                    </a>                    
                </div>
            }          
        </div>
    </div>
</section>
<!-- /services Section -->

<div id="SeviceDetailsDiv"></div>

<hr />

<style>
    /*.service-icon {
        background-color: #06A5A0 !important;
    }*/

    .serviceCard:hover {
        background-color: #06A5A0 !important;
        border-color: #06A5A0 !important;
    }

    /*.serviceCard:hover .service-icon {
        background-color: white !important;
    }*/
</style>

<style>

	#IndexNavId a {
		color: #4D555F !important;
	}

	#AboutUsNavId a {
		color: #4D555F !important;
	}

	#ServicesNavId a {
		color: #06A5A0 !important;
		text-decoration: underline;
		text-underline-offset: 8px;
	}
	
	#DoctorsNavId a {
		color: #4D555F !important;
	}

	#ArticlesNavId a {
		color: #4D555F !important;
	}

	#ContactNavId a {
		color: #4D555F !important;
	}

</style>


@section Scripts{
	<script>


        function loadService(id){
            window.Location(`/Home/Service?id=${id}`);
        }

	</script>
}