@{
    ViewData["Title"] = "Services";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Services</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<style>

	#IndexNavId a {
		color: #4D555F !important;
	}

	#AboutUsNavId a {
		color: #4D555F !important;
	}

	#ServicesNavId a {
		color: #06A5A0 !important;
		text-decoration: underline;
		text-underline-offset: 8px;
	}
	
	#DoctorsNavId a {
		color: #4D555F !important;
	}

	#ArticlesNavId a {
		color: #4D555F !important;
	}

	#ContactNavId a {
		color: #4D555F !important;
	}

</style>


@section Scripts{
	<script>


	</script>
}